@charset "UTF-8";
@import "variables";

.jna-page--about {
  background: url(_assets/about/background.jpg) no-repeat bottom center;
  background-size: cover;
  padding-top: 2rem;
  color: $theme-global-primary;
}

.jna-component--heading {
  margin: 0 0 3rem 0;
  font-family: $theme-font-decorative;
  text-align: center;
  color: $theme-global-primary;
  font-size: 1rem;
}

.jna-container--abouts {
  white-space: pre-wrap;
  color: #fff;
  height: 2em;
  font-size: .95em;
  padding: 0;
  margin: 0;
  list-style: none;
}

.jna-component--about {
  position: relative;
  height: 3rem;
  margin-bottom: 1rem;

  &:before {
    font-size: 1.5rem;
    position: absolute;
    top: -$theme-global-sizing-small;
    left: 0;
  }
}

.jna-component--about-description {
  font-size: .5rem;
  display: block;
  top: -$theme-global-sizing-small;
}

.jna-component--about-text,
.jna-component--about-link,
.jna-component--about-description {
  transition: $theme-global-transition;
  position: absolute;
  left: $theme-global-sizing-large;
}

.jna-component--about-text,
.jna-component--about-link {
  top: 3 * $theme-global-sizing-small;
}

.jna-component--about-link {
  &,
  &:hover,
  &:active,
  &:focus {
    color: $theme-global-primary;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: $screen-md-min) {
  .jna-page--about {
    padding-top: 18rem;
  }

  .jna-component--heading {
    font-size: 3rem;
  }

  .jna-component--about {
    .jna-component--heading {
      margin: 0 0 3rem 0;
      font-family: $theme-font-decorative;
      text-align: center;
      color: $theme-global-primary;
      font-size: 2.5rem;
    }


    .jna-component--about-description {
      opacity: 0;
    }

    .jna-component--about-text,
    .jna-component--about-link {
      top: 0;
    }

    &:hover {
      .jna-component--about-text,
      .jna-component--about-link {
        top: $theme-global-sizing-small;
      }

      .jna-component--about-description {
        opacity: 1;
      }
    }
  }
}


@media (min-width: $screen-lg-min) {
  .jna-component--heading {
    font-size: 4rem;
  }
}