@charset "UTF-8";

@import "../node_modules/devicon-2.2/devicon.css";

@font-face {
  font-family: "jna-icons";
  src: url("_assets/fonts/jna-icons/jna-icons.eot");
  src: url("_assets/fonts/jna-icons/jna-icons.eot?#iefix") format("embedded-opentype"),
  url("_assets/fonts/jna-icons/jna-icons.woff") format("woff"),
  url("_assets/fonts/jna-icons/jna-icons.ttf") format("truetype"),
  url("_assets/fonts/jna-icons/jna-icons.svg#jna-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "comfortaa";
  src: url("_assets/fonts/comfortaa/comfortaa.eot");
  src: url("_assets/fonts/comfortaa/comfortaa.eot?#iefix") format("embedded-opentype"),
  url("_assets/fonts/comfortaa/comfortaa.woff") format("woff"),
  url("_assets/fonts/comfortaa/comfortaa.ttf") format("truetype"),
  url("_assets/fonts/comfortaa/comfortaa.svg#comfortaa") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "crayonhand";
  src: url("_assets/fonts/crayonhand/crayonhand.eot");
  src: url("_assets/fonts/crayonhand/crayonhand.eot?#iefix") format("embedded-opentype"),
  url("_assets/fonts/crayonhand/crayonhand.woff") format("woff"),
  url("_assets/fonts/crayonhand/crayonhand.ttf") format("truetype"),
  url("_assets/fonts/crayonhand/crayonhand.svg#crayonhand") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spaceboy";
  src: url("_assets/fonts/spaceboy/spaceboy.eot");
  src: url("_assets/fonts/spaceboy/spaceboy.eot?#iefix") format("embedded-opentype"),
  url("_assets/fonts/spaceboy/spaceboy.woff") format("woff"),
  url("_assets/fonts/spaceboy/spaceboy.ttf") format("truetype"),
  url("_assets/fonts/spaceboy/spaceboy.svg#spaceboy") format("svg");
  font-weight: normal;
  font-style: normal;
}