@charset "UTF-8";
@import "variables";

.jna-page--projects {
  background: url(_assets/projects/background.jpg) no-repeat bottom right;
  background-size: cover;
  position: relative;
  padding-top: 2rem;
}

.jna-component--projects {
  list-style: none;
}

.jna-component--projects-project {
  background: rgba($theme-global-primary, .6);
  padding: 5px;
  width: 100%;
  transition: $theme-global-transition;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.2);
    box-shadow: 0 0 10px $theme-global-primary;
    z-index: 9999;
    background: $theme-global-primary;

    .jna-component--projects-title {
      margin-top: -$theme-projects-footer-height;
    }
  }
}

.jna-container--projects-actions {
  height: $theme-projects-footer-height;
  font-size: .8rem;
  overflow: hidden;
  line-height: $theme-projects-footer-height;

  .jna-component--projects-actions-button:nth-child(3),
  .jna-component--projects-actions-button:nth-child(4){
    @extend .pull-right;
  }

  .jna-component--projects-actions-button:nth-child(2) {
    @extend .pull-left;
  }
}


.jna-component--projects-title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 2rem;
  line-height: 2.4rem;
  transition: $theme-global-transition;
  transition-delay: .2s;
}

.jna-component--projects-actions-button {
  @extend .btn;
  font-size: .5rem;
  padding: 0 5px;
  line-height: 1.2rem;
  height: 1rem;
  border: 0;
  margin: 4px 1px;

  &::before {
    font-size: .7rem;
    vertical-align: text-top;
    margin-right: 3px;
  }
}

.jna-component--projects-projects {
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    padding: 5px;
  }
}

.jna-component--projects-thumbnail {
  width: 100%;
  height: 100px;
  display: block;
}


@media (max-width: $screen-md-min) {
  .jna-component--projects {
    padding: 0 40px;
  }
}



