@charset "UTF-8";
@import "variables";

.jna-page--skills {
  background: url(_assets/skills/background.jpg) no-repeat bottom center;
  background-size: cover;
  padding: 60px 60px 90px 60px;
  color: $theme-global-primary;
}

.jna-component--skill {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: -50px 0 0 -50px;

  &:hover,
  &:active,
  &:focus {
    z-index: 999;

    .jna-component--technology {
      transform: scale(1);
      background: $theme-skills-primary;
      color: $theme-skills-highlight;
      border-color: $theme-skills-secondary;
      filter: blur(0);
      opacity: 1;
    }

    .jna-component--gauge-name {
      opacity: 1;
    }
  }
}

.jna-container--skills {
  position: relative;
  width: 100%;
  height: 100%;
}