@charset "UTF-8";
@import "variables";

.jna-page--skills {
  background: url(_assets/skills/background.jpg) no-repeat bottom center;
  background-size: cover;
  padding: 60px 60px 90px 60px;
  color: $theme-global-primary;

  .jna-component--technology {
    animation-direction: reverse;
    transform: scale(.5);
    transition: .1s all linear;
    position: relative;
    z-index: 5;
    display: block;
    border: 10px solid $theme-technology-primary;
    background: $theme-technology-secondary;
    text-align: center;
    line-height: 5rem;
    width: $theme-gauge-size;
    height: $theme-gauge-size;
    border-radius: $theme-gauge-size;
    font-size: 3rem;
    color: $theme-technology-primary;
  }
}

.jna-component--skill {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: -50px 0 0 -50px;

  &:hover,
  &:active,
  &:focus {
    z-index: 999;

    .jna-component--technology {
      transform: scale(1);
      background: $theme-skills-primary;
      color: $theme-skills-highlight;
      border-color: $theme-skills-secondary;
      filter: blur(0);
      opacity: 1;
    }

    .jna-component--gauge-name {
      opacity: 1;
    }
  }
}

.jna-container--skills {
  position: relative;
  width: 100%;
  height: 700px;
}

