@charset "UTF-8";
@import "variables";

.jna-theme--view-live {
  background: $theme-view-live-primary;
  color: $theme-view-live-secondary;
}

.jna-theme--view-code {
  background: $theme-view-code-primary;
  color: $theme-view-code-secondary;
}