@charset "UTF-8";

@import "../variables";

.decorative {
  margin: 0;
  font-family: $font-decorative;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
}

.about {
  background: url(../assets/backgrounds/about.jpg) no-repeat bottom center;
  background-size: cover;
}