@charset "UTF-8";

@import "../variables";

.skills-wrapper {
  background: url(../assets/backgrounds/skills.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
  padding-top: 2rem;
}