@charset "UTF-8";

@import "../variables";

$gauge-size: 101px;

@keyframes wiggle {
  0% {
    transform: translate(0px,0px) rotate(0deg);
  }
  25% {
    transform: translate(-5px,10px) rotate(-15deg);
  }
  50% {
    transform: translate(0px,-5px) rotate(0deg);
  }
  75% {
    transform: translate(5px,10px) rotate(15deg);
  }
}

.wiggle {
  animation-name: wiggle;
  animation-timing-function: ease;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  position: relative;
}

.skill-item {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: -50px 0 0 -50px;

  &:hover,
  &:active,
  &:focus {
    z-index: 999;

    .skill-item-icon {
      transform: scale(1);
      background: $skills-background-active;
      color: $skills-foreground-active;
      border-color: $skills-border-active;
      filter: blur(0);
      opacity: 1;
    }

    .skill-item-talent {
      opacity: 1;
    }
  }
}

.skill-item-talent {
  font-family: $font-main;
  opacity: 0;
  font-size: 1rem;
  color: $skills-foreground;
  position: absolute;
  width: 200%;
  left: -50%;
  text-align: center;
  top: 100px;
  text-shadow: 0 0 5px $skills-background;
  padding: 0;
  border-radius: 5px;
  font-weight: bold;
  line-height: 1.4rem;
  height: 1.4rem;
}

.skill-item-icon {
  animation-direction: reverse;
  transform: scale(.5);
  transition: .1s all linear;
  position: relative;
  z-index: 5;
  display: block;
  border: 10px solid $skills-border;
  background: $skills-background;
  text-align: center;
  line-height: 5rem;
  width: $gauge-size;
  height: $gauge-size;
  border-radius: $gauge-size;
  font-size: 3rem;
  color: $skills-foreground;
}

.skill-item-gauge {
  width: $gauge-size;
  height: $gauge-size;
  position: absolute;
  top: -10px;
  left: -10px;
  box-sizing: border-box;
}

.skill-item-gauge-indicator {
  height: 100%;
  width: 100%;
  clip: rect(0, $gauge-size, $gauge-size, $gauge-size / 2);
  left: 0;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  border-radius: $gauge-size/2;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border: $gauge-size / 10 solid #fff;
    border-radius: $gauge-size/2;
    box-sizing: border-box;
    clip: rect(0, $gauge-size / 2, $gauge-size, 0);
    left: 0;
    position: absolute;
    top: 0;
  }
}

@mixin draw-skill($progress, $color) {
  .skill-item-gauge-indicator {
    @if $progress > 50 {
      clip: rect(auto, auto, auto, auto);
      &::after {
        transform: rotate(180deg);
      }
    } @else {
      &::after {
        display: none;
      }
    }

    &::before,
    &::after {
      border-color: $color;
    }

    &::before {
      transform: rotate($progress * 3.6deg);
    }
  }
}

@for $duration from 1 through 4 {
  .duration-#{$duration} {
    animation-duration: 10s * $duration;
  }
}

@for $offset from 1 through 40 {
  .offset-#{$offset} {
    animation-delay: $offset * -1s;
  }
}

@for $depth from 1 through 5 {
  .depth-#{$depth} {
    filter: blur(2px * ($depth - 1));
    opacity: 1 - ($depth / 15);
    transform: scale(.5 - ($depth /20));
  }
}

@for $i from 0 through 100 {
  .skill-item-indicator-#{$i} {
    @include draw-skill($i, adjust_hue($skill-bad, $i * 1.2deg));
  }
}

.skill-item-indicator-100 {
  box-shadow: 0 0 35px $skills-accent-active;
  transition: box-shadow .3s linear;

  .skill-item-gauge-indicator {
    &::before,
    &::after {
      transition: border-color .3s linear;
      border-color: $skill-perfect;
    }
  }
}