@charset "UTF-8";

@import "../variables";

.skill-item {
  list-style: none;
  display: inline-block;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    .skill-item-icon {
      transform: scale(1);
      border-color: $skills-accent;
      background: rgba($skills-accent, 1);
    }

    .skill-item-gauge {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.skill-item-gauge {
  transform: scale(0);
  opacity: 0;
  transition: .1s  all linear;
}

.skill-item-icon {
  transform: scale(.5);
  transition: .1s all linear;
}

.skill-item-icon {
  position: relative;
  z-index: 5;
  display: block;
  border: 10px solid rgba($skills-border, .8);
  background: rgba($skills-background, .5);
  text-align: center;
  line-height: 1.4em;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  font-size: 2.5em;
  color: $skills-foreground;
}