@charset "UTF-8";

@import "variables";

body,
html,
#app {
  font-size: 16px;
  font-family: $font-main;
}

body,
html,
.section,
#app,
.app-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
