@charset "UTF-8";

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1200px;

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

$font-decorative: "spaceboy";
$font-main: "comfortaa";
$font-icons: "jna-icons";
$font-form: "crayonhand";

$skills-background: #745b2f;
$skills-border: #aba567;
$skills-foreground: #ebf4bc;
$skills-accent: #5b6220;

$skills-gauge-active: #ffd800;
$skills-gauge-empty: #b6bd92;


